process {

/* Executor parameters */
maxForks = 4
}

/* To run pipeline with 100g parameters */
params {
ld="0.85"
window="2000"
n_sites="2000"
// plink="plink"
// plink2="plink2"
// ld="0.85"
// window="2000"
// maf="0.05"
// sample_info="/media/judith/Almacenamiento/Documents/Ongoin_projects/PCAs/vcf2pcas/test/reference/samples.txt"
// pca_number="20"
// n_sites="1"
// threads_plink="4"
// k_value="3"
}
