process {

/* Executor parameters */
maxForks = 8
}

params {
plink="plink2"
ld="0.85"
window="2000"
maf="0.05"
tsv="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/PCA_and_PCP_from_76gNatPEL/VCF2PCP/test/reference/samples.txt"
/* tags by iaguilar, based on pc1vspc2*/
region_tags="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/PCA_and_PCP_from_76gNatPEL/VCF2PCP/test/reference/tag_data.tsv"
pca_number="20"
n_sites="2000"
threads_plink="4"
seed_value="43"

}

/* To run pipeline with 100g parameters */
//params {
//plink="plink2"
//ld="0.8"
//window="2000"
//maf="0.05"
//sample_info="/media/judith/Almacenamiento/Documents/Ongoin_projects/PCAs/vcf2pcas/test/reference/samples.txt"
//pca_number="20"
//n_sites="1"
//threads_plink="4"
//k_value="3"
//}
