process {

/* Executor parameters */
maxForks = 8
}

/* To run pipeline with 100g parameters */
params {
ld="0.85" /* value to remove sites with r2 bigger than it within a window */
window="2000" /* the window size in bp for ld prunning */
n_sites="1" /* sites to keep at most in the window, removing sites with small AF first */
plink2="plink2" /* path to plink2 executable */
threads_plink="4" /* threads for plink */
maf="0.05" /* plink2 filters out all variants with allele frequency below this threshold */
pca_number="20" /* number of pcas to ask to smartpca */
admixture_seed_value="43" /* defined seed for admixture */
admixture_threads="16" /* threads for admixture */
fam_id="NAT_AMR" /* plink id for fam file */
}
